@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Questrial", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.slick-slider {
  margin: 0 -1.5rem;
}
.slick-slide {
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
